.aboutContainer{
    max-width: 1500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    z-index: 2;
    gap: 20px
}

.aboutTop{
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 250px;  
    gap: 20px
}

.aboutLinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.aboutLinks a{
    font-size: 20px;
}

.aboutDesc{
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.aboutImg{
    padding: 0;
    overflow: hidden;
    width: 250px;
}

.aboutStack{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 30px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid beige;
    &:hover{
        background-color: rgba(250, 235, 215, 0.178);
    }
}

.stackTitle{
    font-size: x-large;
}

.aboutLeft {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.aboutLine{
    height: 130px;
    width: 1px;
    background-color: antiquewhite;
    margin: 0 20px;
}

.aboutRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px
}

.aboutItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.aboutIcon {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.aboutStackFooter{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}