.aboutContainer{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    gap: 20px;
    flex-wrap: wrap;
}

.aboutTop{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.aboutLinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    height: 250px;
}

.aboutLinks a{
    font-size: 20px;
}

.aboutDesc{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.aboutImg{
    padding: 0;
    overflow: hidden;
    min-width: 250px;
    order: -1;
}

.aboutStack{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 30px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid beige;
    &:hover{
        background-color: rgba(250, 235, 215, 0.178);
    }
}

.stackTitle{
    font-size: x-large;
}

.aboutLeft {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.aboutLine{
    display: none;
}

.aboutRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px
}

.aboutItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.aboutIcon {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.aboutStackFooter{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


@media (min-width: 800px) {
    .aboutContainer{
        min-height: 100vh;
    }

    .aboutTop {
    flex-direction: row;
    height: 250px;  
    justify-content: stretch;
    flex-wrap: nowrap;
    }

    .aboutImg{
        order: 3;
    }

    .aboutDesc{
        min-width: 400px;
    }

    .aboutLeft{
        flex-wrap: nowrap;
        gap: 0;
    }

    .aboutLine{
        display: block;
        height: 130px;
        width: 1px;
        background-color: antiquewhite;
        margin: 0 20px;
    }
  }
  
  @media (min-width: 1500px) {
  }