.projectsContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
}

.projectDisplay{
    flex: 1;
    position: relative;
}

.projectImage{
    position: absolute;
    scale: 75%;
    z-index: 2;
}

.laptop{
    position: absolute;
    z-index: 3;
}

.projectDetails{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.projectsNav{
    display: flex;
    gap: 10px;
}

.projectsIndex{
    padding: 7px;
    border: 1px solid beige;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectDesc{
    border: 1px solid beige;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
}

.projectTags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.projectTag{
    background-color: rgb(20, 1, 48);
    border-radius: 10px;
    padding: 5px;
}

.projectLinks{
    display: flex;
    gap: 10px;
}

.projectLink{
    border: 1px solid white;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

