.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  gap: 80px;
  z-index: 2;
}

@media (min-width: 800px) {
  .main{
    gap: 40px;
  }
}
