.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    border-radius: 35px;
    padding: 20px 40px;
    top: 40px;
    z-index: 2;
    flex-wrap: wrap;
    background-color: rgb(49, 157, 157);
}

.title{
    display: none;
}

.links {
    display: flex;
    gap: 20px;
    min-width: 50px;

}

.links a {
    &:hover {
        color: #ffdd43;
        font-weight: 800;
    }
}

@media (min-width: 500px) {
    .nav {
        justify-content: center;
        gap: 50px;
    }
    .title {
        display: block;
    }
}

@media (min-width: 1400px) {
    .nav {
        display: none;
    }
}