.aboutContainer{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}

.aboutTop{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    z-index: 1;
}

.aboutLinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    height: 250px;
}

.aboutLinks a{
    font-size: 20px;
    color: white;
    &:hover{
        color: #c8a405;
    }
}

.aboutDesc{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    /* white-space: nowrap; */
    overflow: hidden;  
    text-overflow: ellipsis;
}

.typewriter{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.aboutImg{
    padding: 0;
    overflow: hidden;
    min-width: 250px;
    order: -1;
    height: 250px;
    width: 250px;
    max-width: 75%;
}



.aboutStack{
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 30px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid beige;
    &:hover{
        background-color: rgba(250, 235, 215, 0.075);
    }
}

.stackTitle{
    font-size: x-large;
    margin-bottom: 10px;
}

.aboutLeft {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 500px;
    gap: 40px;
}

.aboutLine{
    display: none;
}


.aboutItem {
    margin-bottom: 10px;
    font-size:medium;
}

.aboutIcon {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.aboutStackFooter{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.aboutTitle{
    margin-bottom: 15px;
    font-size: larger;
}

.aboutContainer ul {
    list-style-type: disc  !important; 
    margin-left: 15px ;
}




.backdrop{
    position: absolute;
    top: 0;
    height: 105%;
    width: 100vw;
    margin: -20px 0 20px 0;
    background-color: #001c4e;
    z-index: revert-layer;
}


@media (min-width: 800px) {
    .aboutContainer{
        min-height: 100vh;
    }

    .aboutRow {
        flex: 1;
    }

    .aboutTitle{
        justify-self: center;
    }

    .aboutTop {
    flex-direction: row;
    height: 250px;  
    justify-content: stretch;
    flex-wrap: nowrap;
    }

    .aboutImg{
        order: 3;
    }

    .aboutDesc{
        min-width: 400px;
        gap: 2px;
    }

    .aboutLeft{
        flex-wrap: nowrap;
        gap: 0;
        max-width: 100%;
    }

    .aboutLine{
        display: block;
        height: 270px;
        width: 1px;
        background-color: antiquewhite;
        margin: 0 20px;
    }

    
  }
  
  @media (min-width: 1500px) {
    .aboutContainer{
        max-width: 1400px;
    }
    .aboutDesc{
        gap: 8px;
    }
  }