.tilt-container {
    perspective: 1000px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.scroll {
    display: none;
}

.tilt-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0 200px;
    transition: transform 0.1s ease;
}

@media (min-width: 1400px) {
    .tilt-container {
        min-height: 100vh;
    }

    .scroll{
        display: block;
        position: absolute;
        bottom: 20px;
        color: white;
        font-size: 40px;
    }
  }